a{
    @include typeface-2(p2, desktop);
    text-decoration: none;
    color: $white-dark;
    transition: .5s ease;

    &:hover{
        opacity: 0.9;
    }
}

.btn{
    background: linear-gradient(220.94deg, #a950c4 14.43%, #82269e 85.28%);
    border: none;
    border-radius: 14px;
    text-decoration: none;
    @include typeface-2(p3, desktop);
    color: $white-light;

    padding: 12px 60px;

    transition: 0.3s ease;

    box-shadow: 0px 17px 17px rgba(204, 204, 204, 0.04),
    0px 5.125px 5.125px rgba(204, 204, 204, 0.0260636),
    0px 2.12866px 2.12866px rgba(204, 204, 204, 0.02),
    0px 0.769896px 0.769896px rgba(204, 204, 204, 0.0139364);

    &:hover {
        box-shadow: 0px 17px 17px rgba(169, 80, 196, 0.13),
        0px 5.125px 5.125px rgba(169, 80, 196, 0.0847066),
        0px 2.12866px 2.12866px rgba(169, 80, 196, 0.065),
        0px 0.769896px 0.769896px rgba(169, 80, 196, 0.0452935);
        transform: scale(1.02);
        opacity: 0.9;
    }
}

.link{
    display: inline-block;
    color: $white-dark;
    background-repeat: no-repeat;
    background-position: 0% 50%;
    font-size: 18px;

    padding: 0px 0px 8px 0px;
    margin-left: 12px;

    position: relative;

    &::after{
        content: '';
        position: absolute;
        display: block;

        top: 75%;

        width: 0%;
        height: 2px;
        border-radius: 2px;
        transition: .5s ease;

        background-color: $pink;
    }

    &:hover{

        opacity: 0.8;
        background-position: 8px 50%;
        
        &::after{
    
            width: 100%;
            background-color: $cyan;
        }
    }
}

.btn-diferente{
    position: relative;
    font-size: 1.1em;
    letter-spacing: 0.1em;
    padding: 10px 30px;
    background: transparent;
    transition: 0.5s ease;
}


.btn-diferente:hover{
    letter-spacing: 0.20em;
}

.btn-diferente::before{
    content: '';
    position: absolute;
    inset: 2px;
    background-color: transparent;
    border: 2px solid $pink;
}

span{
    position: relative;
    z-index: 1;
}

i{
    position: absolute;
    inset: 0;
    display: block;
}
i::before{
    content: '';
    position: absolute;
    width: 15px;
    height: 8px;
    top: -1.5px;
    left: 80%;
    background-color: $black-fundo;
    border: 2px solid $cyan;
    transform: translateX(-50%);
    transition: 0.5s ease;
}

.btn-diferente:hover i::before{
    width: 30px;
    left: 30%;
}

i::after{
    content: '';
    position: absolute;
    width: 15px;
    height: 8px;
    bottom: 0.9px;
    left: 30%;
    background-color: $black-fundo;
    border: 2px solid $lemon;
    transform: translateX(-50%);
    transition: 0.5s ease;
}

.btn-diferente:hover i::after{
    width: 30px;
    left: 80%;
}