//colors
$cyan: #4fc3dc;
$pink: #ff2d75;
$lemon: #98ff21;
$dark: #0c0c0c;

//Sombra


//Cor de Fundo
$black-fundo: #1c1c1c;

// Neutral-colors
$black-normal: #232224;
$black-dark: #161617;
$black-light: #353436;

$white-normal: #f7f2fa;
$white-dark: #edeaef;
$white-light: #fefbff;

// Gray Scale
$gray-1: #454446;
$gray-2: #555456;
$gray-3: #666566;
$gray-4: #767576;
$gray-5: #868587;
$gray-6: #969597;
$gray-7: #a6a6a7;